<div class="header">
  <span (click)="goback()"><img src="../../../../assets/imgs/arrows_left.png"></span> <h5>忘记密码</h5>
</div>
<div class="content">
  <div class="forget-1">
    <input type="text" [(ngModel)]="phone" placeholder="请输入你注册时的手机号">
  </div>
  <div class="forget-2">
    <input type="text" [(ngModel)]="code" placeholder="输入验证码">
    <a class="forget-2-1 btn" *ngIf="isSends" href="javascript:void(0)" (click)="getMsgCode()">获取验证码</a>
    <a class="forget-2-2 btn" *ngIf="!isSends" href="javascript:void(0)">倒数{{sends}}秒</a>
  </div>
  <div class="forget-3">
    <div class="forget-3-1" *ngIf="isShowPassword">
      <input type="password" [(ngModel)]="passWordVal" placeholder="为你的账户设置新密码">
      <div (click)="passWordShow()">
        <img src="../../../assets/imgs/close_password.png" >
      </div>

    </div>
    <div class="forget-3-1" *ngIf="!isShowPassword">
      <input type="text" [(ngModel)]="passWordVal" placeholder="为你的账户设置新密码">
      <div (click)="passWordShow()">
        <img src="../../../assets/imgs/open_password.png" >
      </div>
    </div>
  </div>
  <div class="submitBtn btn" (click)="submit()">提交</div>
</div>
<app-footer [select]="3"></app-footer>
