.forget-1{
  height: 1rem;
  line-height: 1rem;
  font-size: .3rem;
  border-top: 1px solid #e2e2e2;
  color: #333;
}
.forget-2{
  height: 1rem;
  line-height: 1rem;
  font-size: .3rem;
  border-bottom: 1px solid #e2e2e2;
  color: #333;
}
.forget-2 a{
  height: .5rem;
  line-height: .5rem;
  font-size: .24rem;
}
.forget-2 input{
  width: 60%;
  padding-left: .2rem;
}
.forget-1 input{
  height: 1rem;
  line-height: 1rem;
  font-size: .3rem;
  width: 100%;
  color: #333;
  border-bottom: 1px solid #e2e2e2;
  padding-left: .2rem;
}
.forget-3-1{
  height: 1rem;
  line-height: 1rem;
  font-size: .3rem;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  color: #333;
  position: relative;
  margin-top: .5rem;
}

.forget-3-1 input{
  height: 1rem;
  line-height: 1rem;
  font-size: .3rem;
  width: 100%;
  color: #333;
  border-bottom: 1px solid #e2e2e2;
  padding-left: .2rem;
}
.forget-3-1>div{
  width: .6rem;
  height: .6rem;
  position: absolute;
  right: .2rem;
  top: 0rem;
}
.forget-3-1>div>img{
  width: 100%;
}
.submitBtn{
  width: 80%;
  text-align: center;
  margin-left: 10%;
  font-size: .3rem;
  height: .8rem;
  line-height: .8rem;
  margin-top: 1rem;
  padding: 0;
}


.forget-3-1 input{
  height: 44px;
  width: 88%;
  border-bottom: none;
}


.forget-3-2 input{
  height: 44px;
  width: 84%;
}
.forget-2-2 {
  background-color: #999;
}
