<div class="header">
  <span (click)="goback()"><img src="../../../../assets/imgs/arrows_left.png"></span> <h5>订单详情</h5>
</div>
<div class="content">
  <div class="detail">
    <h5 class="title">订单详情</h5>
    <div class="form">
      <!--<p>货源类型:  <span> {{data.source_type_name}}</span></p>-->
      <p>物料名称:  <span>{{data.u_cname || '暂无'}}</span></p>
      <p>价格范围:  <span> {{data.price_range || '暂无'}}</span></p>
      <p>订单日期:  <span>{{data.created_at || '暂无'}}</span></p>
    </div>
    <div class="describe">
      <h5>描述</h5>
      <div>{{data.field_desc || '暂无'}}</div>
    </div>
    <div class="way">
      <h5>找料方式: <span>{{data.sampling_type_new || '暂无'}}</span> </h5>
      <div class="wayContent1" *ngIf="data.sampling_type ===2">
        <p>联系人: <span>{{data.sampling_linkman || '暂无'}}</span></p>
        <p>联系电话: <span>{{data.sampling_number || '暂无'}}</span></p>
        <p>取样地址: <span>{{data.sampling_address || '暂无'}}</span></p>
      </div>
      <div class="wayContent2" *ngIf="data.sampling_type ===1">
        <ul>
          <li>
            <p>正面</p>
            <div>
              <img [src]="data.img1_url == null?imgUrl:data.img1_url">
            </div>
          </li>
          <li>
            <p>侧面</p>
            <div>
              <img [src]="data.img2_url == null?imgUrl:data.img2_url">
            </div>
          </li>
          <li>
            <p>背面</p>
            <div>
              <img [src]="data.img3_url == null?imgUrl:data.img3_url">
            </div>
          </li>
          <div style="clear: both"></div>
        </ul>
      </div>
      <div class="wayContent3" *ngIf="data.sampling_type ===3">
        <p>联系人:<span>田先生</span></p>
        <p>联系电话:<span>18320985894</span></p>
        <p>取样地址:<span>广东省广州市花都区镜湖大道南33号</span></p>
      </div>
    </div>
    <div class="order">
      <p><i></i><span>你的找料单号: </span> <span>{{data.id}}</span></p>
      <p><i></i><span>本次找料服务费: </span> <span>{{data.pay_fee | number:'1.2-2'}}元</span> <span class="payBtn" (click)="goPayment()" *ngIf="!data.is_payed">去支付</span> <span *ngIf="data.is_payed">已支付</span></p>
    </div>
  </div>
</div>
<app-footer [select]="3"></app-footer>
