<div class="header">
  <span (click)="goback()"><img src="../../../../assets/imgs/arrows_left.png"></span><h5>登录</h5>
</div>
<div class="content">
  <div class="logo">
    <img src="../../assets/imgs/logo_small.png" alt="首页图片">
  </div>
  <div class="from">

   <!-- <div><div>img</div> <input type="text" [(ngModel)]="phoneNuber" placeholder="手机号"></div>
    <div></div>
    <div><i></i>

      <input *ngIf="isPwShow" type="password" [(ngModel)]="passWord" placeholder="密码">
      <input *ngIf="!isPwShow" type="text" [(ngModel)]="passWord" placeholder="密码">
      <i *ngIf="isPwShow" (click)="passWordShow()"></i>
      <i style="background-position: -136px -30px;" *ngIf="!isPwShow" (click)="passWordShow()"></i>
    </div>-->
    <div class="username">
      <img src="../../assets/imgs/login_username.png" alt="手机号码">
      <input type="text" [(ngModel)]="phone" placeholder="手机号">

    </div>
    <div class="password">
      <img src="../../assets/imgs/login_password.png" alt="登录密码">
      <input *ngIf="isPwShow" type="password" [(ngModel)]="passWord" placeholder="密码">
      <input *ngIf="!isPwShow" type="text" [(ngModel)]="passWord" placeholder="密码">
      <div class="seePassword" (click)="showPassWord()">
        <img *ngIf="isPwShow"  src="../../assets/imgs/close_password.png">
        <img *ngIf="!isPwShow" src="../../assets/imgs/open_password.png">
      </div>
    </div>


    <a class="forgetPassword" href="javascript:void(0)" (click)="goForgetPassWord()">忘记密码</a>
    <input class="submit" (click)="login()" type="submit" value="登陆" />

  </div>
  <div class="wxLogin">
    <p>使用其他社交账号登陆</p>
    <img src="../../assets/imgs/login_weixin.png">
    <a href="javascript:void(0)" (click)="goRegister()">还没有账号，立即去<span>注册</span></a>
  </div>
</div>

<app-footer [select]="3"></app-footer>
