<div class="header">
 <span (click)="goback()"><img src="../../../../assets/imgs/arrows_left.png"></span> <h5>找料须知</h5>
</div>
<div class="explain">
  <strong>一、服务对象:</strong>
  <p>全球企业及个人用户。</p>
  <strong>二、找料区域:</strong>
  <p>目前仅支持在狮岭和三元里地区为您提供找料服务，其他区域待进一步开放中。</p>
  <strong>三、找料品类:</strong>
  <p>1.目前仅支持找皮革（含真皮、二层皮、PU、PVC),皮具箱包产品纺织面料、皮具箱包产品辅料、托料、五金等。</p>
  <p>2.每种产品将提供两家以上供应商作为参考。</p>
  <strong>四、找料要求:</strong>
  <p>每次找料仅支持一类产品（面料、辅料、五金）,不超过两个品种。</p>
  <strong>五、收费标准:</strong>
  <p>找料服务费50元/次，同类物料超过2个品种或不同类物料我们将按第二次收费。</p>
  <strong>六、上门区域:（仅限狮岭区域）</strong>
  <p>目前狮岭地区已开通上门取样、送样服务(需另收服务费10元/次)。</p>
  <strong>七、支付说明:</strong>
  <p>目前仅支持微信、支付宝、线下转账。</p>
  <strong>八、找料说明:</strong>
  <p>1.不提供侵权产品的找料服务。<br>
    2.不提供支持品类物料以外的找料服务。<br>
    3.由于市场及业内特性，我们无法承诺100%为您找到所需的物料，但我们将以100%的热情为您提供真挚的服务。</p>
  <strong>九、开票说明:</strong>
  <p>服务结束后我们默认开具增值税普通发票电子发票，如需纸质发票需额外支付10元/单的快递费（仅支持国内，不含港澳台地区）。</p>
</div>
