<div class="header">
  <span (click)="goback()"><img src="../../../../assets/imgs/arrows_left.png"></span> <h5>一大批用户服务协议</h5>
</div>
<div class="content">
  <div class="protocol">
    <h5>一大批用户服务协议</h5>
    <div>
      <p>欢迎“您”（以下或称“用户”）与“广州一大批网络科技有限公司”（下称“一大批”）共同签署本《小鹿快找服务条款》协议（下称“本协议”），本协议阐述之条款和条件适用于您使用小鹿快找基于互联网，以包含小鹿快找网站、客户端等在内的各种形态（包括未来技术发展出现的新的服务形态）向您提供的各项服务。

        本协议为《小鹿快找服务条款》版本，自本协议发布之日起，小鹿快找各处所称“小鹿快找服务条款”均指本协议。</p>
    </div>
    <div>
      <strong>一、接受协议</strong>
      <p>1.1本协议内容包括协议正文及所有小鹿快找已经发布或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。</p>
      <p>1.2您在点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将以粗体下划线标识，您应重点阅读。如您对协议有任何疑问，可拨打电话400XXXXX向小鹿快找客服咨询。</p>
      <p>1.3当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序，或以任何方式进入小鹿快找并使用服务即表示您已充分阅读、理解并同意接受本协议的条款和条件。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序并停止使用服务。</p>
      <strong>二、定义</strong>
      <p>2.1一大批：一大批是一家专业的皮革原、辅料供应链电商平台，通过互联网与产业的融合创新，为中小制品企业提供一站式的原辅料采购服务，通过互联网平台化，不断优化供应链环节，帮助中小企业降本增效。</p>
      <p>2.2小鹿快找：小鹿快找是一大批供应链电商下属的战斗力团队，有小鹿找料与小鹿代采两项核心产品业务，团队集结了数百名资深专业皮革辅料买手及组成的团队，为皮革制品工厂解决现货找料难题的一对一服务，足不出户，只需一张照片或样品或描述就可获得最具性价比或最可靠的协作资源，是您工厂的专用采购和专业的皮革制品行业的“活字典”！</p>
      <p>2.3小鹿快找服务：指小鹿快找基于互联网，以包含小鹿快找网站、客户端等在内的各种形态（包括未来技术发展出现的新的服务形态）向您提供的各项服务（下称“服务”）。</p>
      <p>2.4小鹿快找规则：指在小鹿快找已发布及后续发布的全部规则、解读、公告等内容以及小鹿快找在论坛等渠道发布的各类规则、实施细则、产品流程说明、公告等。</p>
      <strong>三、协议范围</strong>
      <p>3.1签约主体<br> 本协议由您与小鹿快找共同缔结，本协议对您与小鹿快找具有同等合同效力。</p>
      <p>3.2补充协议<br>
        由于互联网高速发展，您与小鹿快找签署的本协议列明的条款并不能完整罗列并覆盖您与小鹿快找所有权利与义务，现有的约定也不能保证完全符合未来发展的需求。因此，小鹿快找法律声明、隐私政策、小鹿快找规则均为本协议的补充协议，与本协议不可分割且具有同等法律效力。如您使用小鹿快找服务，视为您同意上述补充协议。</p>
      <strong>四、账户注册与使用 </strong>
      <p>4.1用户资格<br>
        4.1.1您确认，在您完成注册程序或以其他小鹿快找允许的方式实际使用服务时，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备前述与您行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的一切后果，且小鹿快找有权终止向您提供服务并注销您的账户。如您代表一家公司或其他法律主体在小鹿快找注册，则您声明和保证，您有权使该公司或该法律主体受本协议的约束。</p>
      <p>4.1.2此外，您还需确保您不是任何国家、国际组织或者地域实施的贸易限制、制裁或其他法律、规则限制的对象，否则您可能无法正常注册及使用服务。
      </p>
      <p>4.2账户注册<br>4.2.1您了解并同意，如您系在小鹿快找完成的注册程序，用户有义务确保向小鹿快找提供的所有注册信息真实准确，包括但不限于用户名、营业执照号（身份证号）、银行卡号、联系电话、电子邮箱等，并保证小鹿快找可以通过上述联系方式及时与用户取得联系。同时，用户有义务在相关资料变更时及时更新注册。</p>
      <strong>五、服务及规范 </strong>
      <p>您有权在小鹿快找享受产品及/或服务的报价、产品及/或服务的询价、采购与交易争议处理等服务。</p>
      <p>5.1产品及/或服务的询价、采购与评价<br>
        5.1.1当您在小鹿快找询价、采购产品及/或服务时，请您务必仔细确认询价/采购产品的品名、价格、数量、型号、规格、尺寸或服务的时间、内容、限制性要求等重要事项，并在采购下单时核实您的联系地址、电话、收货人等信息。如您填写的收货人非您本人，则该收货人的行为和意思表示产生的法律后果均由您承担。</p>
      <p>5.4交易争议处理</p>
      <p>5.4.1 您可通过小鹿快找所支持的交易方式与平台达成交易，并遵守相应交易与支付规则。</p>
      <p>5.4.2您在小鹿快找交易过程中与之发生争议的，您有权选择以下途径解决：</p>
      <p>（一）与争议相对方自主协商；</p>
      <p>（二）使用小鹿快找提供的争议调处服务；</p>
      <p>（三）向有关行政部门投诉；</p>
      <p>（四）根据与争议相对方达成的仲裁协议（如有）提请仲裁机构仲裁；</p>
      <p>（五）向人民法院提起诉讼。</p>
      <p>5.4.3如您依据小鹿快找规则使用小鹿快找的争议调处服务，则表示您认可并愿意履行小鹿快找的客服作为独立的第三方根据其所了解到的争议事实并依据小鹿快找规则所作出的调处决定（包括调整相关订单的交易状态、判定将争议款项的全部或部分支付给交易一方或双方、执行相应的保证金赔付等）。在小鹿快找调处决定作出前，您可选择上述其他争议处理途径解决争议以中止小鹿快找站的争议调处服务。如您对调处决定不满意，您仍有权采取其他争议处理途径解决争议，但通过其他争议处理途径未取得终局决定前，您仍应先履行调处决定。</p>
      <strong>六、费用 </strong>
      <p>6.1小鹿快找向您提供的服务付出了大量的成本，除小鹿快找明示的收费业务外，小鹿快找向您提供的服务目前是免费的。如未来小鹿快找向您收取合理费用，小鹿快找会采取合理途径并提前通过法定程序以本协议约定的有效方式通知您，确保您有充分选择的权利。</p>
      <p>6.2您因进行交易、向小鹿快找获取有偿服务应纳税赋，以及相关硬件、软件、通讯、网络服务及其他方面的费用均由您自行承担。</p>
      <strong>七、责任限制</strong>
      <p>7.1小鹿快找依照法律规定履行基础保障义务，但对于下述原因导致的合同履行障碍、履行瑕疵、履行延后或履行内容变更等情形，小鹿快找并不承担相应的违约责任：</p>
      <p>（一）因自然灾害、罢工、暴乱、战争、政府行为、司法行政命令等不可抗力因素；</p>
      <p>（二）因电力供应故障、通讯网络故障等公共服务因素或第三人因素；</p>
      <p>（三）在小鹿快找已尽善意管理的情况下，因常规或紧急的设备与系统维护、设备与系统故障、网络信息与数据安全等因素。</p>
      <p>7.2 您理解并同意，在争议调处服务中，小鹿快找中的客服并非专业人士，仅能以普通人的认知对用户提交的凭证进行判断，小鹿快找不保证争议调处决定一定符合您的期望，除存在故意或重大过失外，小鹿快找对争议调处决定免责。</p>
      <strong>八、用户信息的保护及授权</strong>
      <p>8.1个人信息的保护</p>
      <p>小鹿快找非常重视用户个人信息（即能够独立或与其他信息结合后识别用户身份的信息）的保护，在您使用小鹿快找提供的服务时，您同意小鹿快找按照在小鹿快找上公布的隐私政策收集、存储、使用、披露和保护您的个人信息。小鹿快找希望通过隐私政策向您清楚地介绍小鹿快找对您个人信息的处理方式，因此小鹿快找建议您完整地阅读隐私政策（点击此处或点击小鹿快找首页底部链接），以帮助您更好地保护您的隐私权。</p>
      <strong>九、用户的违约及处理</strong>
      <p>9.1违约认定</p>
      <p>发生如下情形之一的，视为您违约：</p>
      <p>（一）使用小鹿快找服务时违反有关法律法规规定的；</p>
      <p>（二）违反本协议或本协议补充协议（即本协议第3.2条）约定的。</p>
      <p>9.2赔偿责任</p>
      <p>9.2.1如您的行为使小鹿快找及/或其关联公司（包括自身的直接经济损失、商誉损失及对外支付的赔偿金、和解款、律师费、诉讼费等间接经济损失），您应赔偿小鹿快找及/或其关联公司的上述全部损失。
        9.2.2如您的行为使小鹿快找及/或其关联公司遭受第三人主张权利，小鹿快找及/或其关联公司可在对第三人承担金钱给付等义务后就全部损失向您追偿。</p>
      <strong>十、法律适用、管辖及其他 </strong>
      <p>10.1本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国大陆地区法律；如无相关法律规定的，则应参照商业惯例和（或）行业惯例。 </p>
      <p>10.2您与小鹿快找仅为独立订约人关系。本协议无意结成或创设任何代理、合伙、合营、雇佣与被雇佣或特性授权与被授权关系。</p>
      <p>10.3您同意小鹿快找因经营业务需要有权将本协议项下的权利义务就部分或全部进行转让，并采取合理途径提前通过法定程序以本协议约定的有效方式通知您。 </p>
      <p>10.4因本协议或小鹿快找服务所引起或与其有关的任何争议，由小鹿快找与您协商解决。协商不成时，任何一方均可向被告住所地人民法院提起诉讼。</p>
      <p>10.5倘若本协议任何条款被裁定为无效或不可强制执行，该项条款应被撤销，而其余条款应予遵守和执行。条款标题仅为方便参阅而设，并不以任何方式界定、限制、解释或描述该条款的范围或限度。小鹿快找未就您或其他人士的某项违约行为采取行动，并不表明小鹿快找撤回就任何继后或类似的违约事件采取动的权利。</p>
    </div>
  </div>
</div>
