
<div class="home">
  <div class="content">
    <div class="index-search cf">
      <div class="index-search-filtrate">
        <img src="../../../assets/imgs/index_search_filtrate.png" alt="filtrate">
        <p>筛选</p>
      </div>
      <div class="index-search-input">
        <div>
          <img src="../../../assets/imgs/index_search_btn.png" alt="btn">
          <input type="text" placeholder="请输入要搜索的商品" />
        </div>
      </div>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../../assets/imgs/slide_1.png" alt="slide"></div>
        <div class="swiper-slide"><img src="../../../assets/imgs/slide_2.png" alt="slide"></div>
        <div class="swiper-slide"><img src="../../../assets/imgs/slide_3.png" alt="slide"></div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <div class="index-dynamic">
      <img src="../../../assets/imgs/dynamic_icon.png" alt="dynamic">
      <div>
        <p class="index-dynamic-p">一大批正在撮合 xxx公司与xxx公司合作合作合作合作合作合作合作合作！ 一大批正在撮合 xxx公司与xxx公司合作合作合作合作合作合作合作合作！ 一大批正在撮合 xxx公司与xxx公司合作合作合作合作合作合作合作合作！</p>
      </div>
    </div>
    <div class="index-navigation cl">
      <a href="#">
        <img src="../../../assets/imgs/index_navigation_1.png" alt="navigation_1">
        <p>发采购</p>
      </a>
      <a href="#">
        <img src="../../../assets/imgs/index_navigation_2.png" alt="navigation_1">
        <p>商城</p>
      </a>
      <a href="#">
        <img src="../../../assets/imgs/index_navigation_3.png" alt="navigation_1">
        <p>求购</p>
      </a>
      <a href="#">
        <img src="../../../assets/imgs/index_navigation_4.png" alt="navigation_1">
        <p>咨询</p>
      </a>
    </div>



  </div>
</div>
<app-footer [select]="1"></app-footer>

