
<div class="home">
  <div class="content">
    <div class="index-search cf">
      <div class="index-search-filtrate">
        <img src="../../../assets/imgs/index_search_filtrate.png" alt="filtrate">
        <p>筛选</p>
      </div>
      <div class="index-search-input">
        <div>
          <img src="../../../assets/imgs/index_search_btn.png" alt="btn">
          <input type="text" placeholder="请输入要搜索的商品" />
        </div>
      </div>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../../assets/imgs/slide_1.png" alt="slide"></div>
        <div class="swiper-slide"><img src="../../../assets/imgs/slide_2.png" alt="slide"></div>
        <div class="swiper-slide"><img src="../../../assets/imgs/slide_3.png" alt="slide"></div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <div class="index-dynamic">
      <img src="../../../assets/imgs/dynamic_icon.png" alt="dynamic">
      <div>
        <p class="index-dynamic-p">一大批正在撮合 xxx公司与xxx公司合作合作合作合作合作合作合作合作！ 一大批正在撮合 xxx公司与xxx公司合作合作合作合作合作合作合作合作！ 一大批正在撮合 xxx公司与xxx公司合作合作合作合作合作合作合作合作！</p>
      </div>
    </div>
    <div class="index-navigation cl">
      <a href="javascript:void(0)">
        <img src="../../../assets/imgs/3@2x.png" alt="navigation">
        <p>找料</p>
      </a>
      <a href="javascript:void(0)">
        <img src="../../../assets/imgs/4@2x.png" alt="navigation">
        <p>商城</p>
      </a>
      <a href="javascript:void(0)">
        <img src="../../../assets/imgs/5@2x.png" alt="navigation">
        <p>求购</p>
      </a>
      <a href="javascript:void(0)">
        <img src="../../../assets/imgs/6@2x.png" alt="navigation">
        <p>鹿通物流</p>
      </a>
      <a href="javascript:void(0)">
        <img src="../../../assets/imgs/7@2x.png" alt="navigation">
        <p>鹿伙人</p>
      </a>
      <a href="javascript:void(0)">
        <img src="../../../assets/imgs/8@2x.png" alt="navigation">
        <p>定制采集</p>
      </a>
      <a href="javascript:void(0)">
        <img src="../../../assets/imgs/9@2x.png" alt="navigation">
        <p>产业头条</p>
      </a>
      <a href="javascript:void(0)">
        <img src="../../../assets/imgs/10@2x.png" alt="navigation">
        <p>更多服务</p>
      </a>
    </div>
    <div class="index-identifying cl">
      <a href="javascript:void(0)">
        <img src="../../../assets/imgs/11@2x.png" alt="identifying">
      </a>
      <a href="javascript:void(0)">
        <img src="../../../assets/imgs/12@2x.png" alt="identifying">
      </a>
      <a href="javascript:void(0)">
        <img src="../../../assets/imgs/13@2x.png" alt="identifying">
      </a>
      <a href="javascript:void(0)">
        <img src="../../../assets/imgs/14@2x.png" alt="identifying">
      </a>
    </div>

    <div class="index-product">
      <div class="product-title">
          <i></i><span>面料</span> <span>更多 <img src="../../../assets/imgs/arrows_right.png" alt="arrows"></span>
      </div>
      <div class="product-content">
        <div class="product-content-top cl">
          <div class="product-content-details cl">
            <div>
              <h3>优质皮革专场</h3>
              <p>加厚仿真人造革diy硬包床头皮子pu皮料</p>
              <img src="../../../assets/imgs/16@2x.png" alt="皮料">
            </div>
          </div>
          <div class="product-content-details">
            <div>
              <h3>优质皮革专场</h3>
              <p>加厚仿真人造革diy硬包床头皮子pu皮料</p>
              <img src="../../../assets/imgs/17@2x.png" alt="皮料">
            </div>
            <div>
              <h3>优质皮革专场</h3>
              <p>加厚仿真人造革diy硬包床头皮子pu皮料</p>
              <img src="../../../assets/imgs/18@2x.png" alt="皮料">
            </div>
          </div>
        </div>
        <div class="product-content-bottom">

        </div>

      </div>
    </div>

  </div>
</div>
<app-footer [select]="1"></app-footer>

