.content{
  margin-top: 0;
}
.home{
  margin-bottom: 1.2rem;
}
.home img{
  width: 100%;
}
.logo_small {
  width: 2.5rem;
  height: 1.3rem;
  margin: 0 auto;
  margin-top: .2rem;
}
.home_search_btn{
  width: 60%;
  margin-left: 20%;
  margin-top: .3rem;
}
.home_phone div{
  display: inline-block;
  width: .26rem;
  height: .26rem;
  position: relative;
  left: -5px;
  top: 2px;
}
.home-notice img{
  width: .3rem;
  position: relative;
  left: .1rem;
}
.home-notice{
  text-align: center;
  margin-top: .2rem;
}
.home-notice a{
  /*text-decoration: underline;*/
  font-size: .24rem;
  color: #333;
  display: inline-block;
  position: relative;
}
.home-notice a:before{
  content: '';
  display: block;
  width: 90%;
  height: .1px;
  position: absolute;
  left: .09rem;
  bottom: 0rem;
  text-align: center;
  background-color: #333;
}
.home_phone span{
  margin-left: .1rem;
  position: relative;
  top:-0.02rem;
}
.home_phone{
  text-align: center;
  margin-top: .2rem;
}
.home_phone a{
  color: #d5393c;
}
.home-footer{
  margin-top: .7rem;
}
.home-footer a{
  float: left;
  text-align: center;
  width: 33.33%;
  font-size: .24rem;
  color: #333;
}
.home-footer p{
  font-size: .16rem;
}
.home-footer a img{
  width: .66rem;
  height: .66rem;
}
.index-search{
  height: 1.24rem;
  background-color: #d5393c;
}
.footer {
  width: 100%;
  height: 1rem;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #e2e2e2;
}
.footer a{
  width: 25%;
  display: block;
  float: left;
  text-align: center;
}
.footer a img{
  width: .6rem;
  margin-top: .1rem;
}
.footer a:last-child img{
  width: .5rem;
}
.footer a p{
  font-size: .2rem;
  color: #333;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{
  width: 100%;
}
.index-search-filtrate{
  width: 15%;
  text-align: center;
  float: left;
}
.index-search-filtrate img{
  width: .44rem;
  margin-top: .3rem;
}
.index-search-filtrate p{
  font-size: .24rem;
  color: #fff;
}
.index-search-input{
  width: 85%;
  float: left;
  height: 100%;
}
.index-search-input div{
  width: 95%;
  height: .8rem;
  margin-top: .24rem;
  border-radius: .2rem;
  background-color: #fff;
}
.index-search-input div img{
  width: .5rem;
  position: relative;
  left: .15rem;

}
.index-search-input div input{
  height: 100%;
  font-size: .3rem;
  padding-left: .2rem;
}
.index-navigation a{
  width: 25%;
  display: block;
  float: left;
  text-align: center;
}
.index-navigation a img{
  width: 1rem;
  margin: .2rem 0;
}
.index-dynamic{
  height: 1rem;
  position: relative;
  margin-top: .3rem;
  border-bottom: 1px solid #e2e2e2;
}
.index-dynamic img{
  width: 2rem;
  position: absolute;
  top: 0;
  left: .3rem;
}
.index-dynamic div{
  position: absolute;
  height: 100%;
  top: 0;
  left: 2.3rem;
  width: 64%;
  overflow: hidden;
}
.index-dynamic div p{
  font-size: .28rem;
  color: #333;
  position: relative;
  top: .2rem;
  width: 1500px;
  left: 240px;
  webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.index-navigation a{
  margin: .1rem 0;
}
.index-navigation{
  margin: .1rem;
}
.index-identifying a{
  width: 50%;
  display: block;
  float: left;
  background-color: #f7f7f7;
}
.index-identifying a img{
  padding: 5%;
  width: 90%;
}
.index-identifying a:nth-child(even) img{
  padding-left: 2.5%;
}
.index-identifying a:nth-child(odd) img{
  padding-right: 2.5%;
  padding-left: 7.5%;
}
.product-title{
  line-height: .8rem;
  position: relative;
  top: .05rem;
}
.product-title i{
  width: .05rem;
  height: .3rem;
  display: inline-block;
  background-color: #ed1e2d;
  margin-left: .3rem;
  position: relative;
  top: .05rem;
}
.product-title span:nth-child(2){
  font-size: .32rem;
  margin-left: .2rem;
}
.product-title span:nth-child(3){
  float: right;
  margin-right: .3rem;
  color: #999;
}

.product-title span:nth-child(3) img{
  width: .1rem;
  position: relative;
  top: -.03rem;
}
.product-content-top{

}
.product-content-details{
  width: 3.73rem;
  float: left;
  position: relative;
  height: 5.4rem;
  border: .01rem solid #e2e2e2;
  border-left: none;
}
.product-content-details div{
  position: relative;
  height: 2.7rem;
}
.product-content-details div img{
  position: absolute;
  top: .08rem;
  bottom: 0;
}
.product-content-details div h3{
  position: relative;
  z-index: 9;
  font-size: .26rem;
  color: #333;
}
.product-content-details div p{
  position: relative;
  z-index: 9;
  font-size: .24rem;
  color: #999;
}
